<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Error 1</title>
<link rel="stylesheet" href="css/All.css">
</head>
<body>
	<header>
		<h1 class="hd">Train Transport System</h1>
		
	
	<div class="tab red"><h2>Error occurred</h2></div>
	<div class="tab black" >
		<br />
       <h3>Return back to the page where you were.</h3>
		<br />

        <h3>
            "Not enough seats are available.
        </h3>
		<br />
        <h3>
            Reduce the number of seats you wanna take and fill the form again.
        </h3>
         
    </div>
	<br />

</body>
</html>
